<!DOCTYPE html>
<head>
    <title>spellchecker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/trix.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/trix.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bulma -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <!-- End Bulma -->
  </head>
<nav>
  <h1 class="title"><a href="{{ url_for('index') }}">spellchecker</a></h1>
</nav>
<section class="section">
    <div class="contianer">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
    </div>
</section>